[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pyparsing = "*"
pyserial = "*"
six = "*"
spidev = "*"
gunicorn = "*"
BiblioPixel = "==2.1.2"
Flask = "*"
Flask-Sockets = "*"

[requires]
python_version = "2.7"
